

.cke_notifications_area { display: none; }
ul,li {
    list-style: none;
}
.treeCategory {
    font-size: 19px;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #8c8c8c26;
    padding: 10px 20px;
    & summary {
        cursor: pointer;
        list-style-type: none;
        &::marker {
            display: none;
        }
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            position: absolute;
            left: -1.25em;
            top: .5em;
            content: "+";
            background-color: rgb(140, 140, 140);
            display: block;
            color: #fff;
            width: 20px;
            height: 20px;
            font-weight: 700;
            border-radius: 50em;
            z-index: 9999;
            text-align: center;
            line-height: .80em;
        }
    }
    & ul li {
        position: relative;
        line-height: 2em;
        &::before {
            position: absolute;
            left: -20px;
            top: 0;
            border-left: 2px solid gray;
            border-bottom: 2px solid gray;
            content: "";
            width: 15px;
            height: 1em;
        }
        &::after {
            position: absolute;
            left: -20px;
            bottom: 0px;
            border-left: 2px solid gray;
            content: "";
            width: 6px;
            height: 100%;
        }
        
    }
    & ul li:last-child::after {
        display: none;
    }
    ul.tree > li::after, ul.tree > li::before {
        display: none;
    }
    ul details[open] > summary::before {
        content: '-';
    }
    
}
input[readonly] {
    background-color: #F3F3F3 !important;
    color: black !important;
}
.resusltInput {
    border-radius: 10px;
    font-size: 16px;
    overflow: auto;
    height: 200px;
    border: 1px solid #a8acb0;
    & ul {
        padding: 0;
        & li {
            cursor: pointer;
            &:hover {
                background-color: #DFE2E6;
            }
        }
    }
}
.rating-review {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: -20px;

    & input {
        position: absolute;
        opacity: 0;
        font-size: 26px;
    }
    & label:active {
        color: #F6E05E !important;
    }
    & input:focus-visible + label {
        outline-offset: 1px;
        outline: #59b210 solid 2px;
    }
      
    & label {
        cursor: pointer;
        color: #9c9ba3;
        padding: 0 0.15rem;
        font-size: 30px;
        transition: color 0.15s;
    }
    
    & input:checked ~ label {
        color: #F6E05E
    }
      
    & input:hover ~ label {
        color: rgb(245, 208, 116);
        transition: none;
     }
}