.card_products {
    padding: 0;
    margin: 0;
    & .card_product {

        border-radius: 10px;
        padding: 0;
        position: relative;
        margin-bottom: 20px;
 
        border: 1px solid var(--border-card);
        &-img {
            position: relative;
            width: 150px;
            height: 200px;
            cursor: pointer;
            margin: 0 auto;
            padding-top: 30px;
            & img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: transform 0.5s ease;
            
            }

            
        }
        & .market_sale {
            background: var(--danger);
            border-radius: 5px;
            color: var(--white);
            padding: 3px 7px;
            position: absolute;
            top: 20px;
            left: 15px;
        }
        &-managment {
            position: absolute;
            top: 20px;
            right: 5px;
            @media (max-width: 990px) {
                display: block;
            }
            display: none;
            &_scale {
                
                margin-bottom: 10px;
                & .button_scale_card {
                    
                    padding: 10px 10px;
                    font-size: 12px;
                    color: #4B4A62;
                    border-radius: 10px;
                    border: 1px solid var(--border-card);
                    background-color: var(--white);
                    &:hover {
                        color:var(--white);
                        background-color: var(--main-color);
                        transition: transform 1s ease;
                    }
                }
              
            }
            &_heart {
                & .button_heart_card {
                    padding: 10px 10px;
                    color: var(--gray_card);
                    border-radius: 10px;
                    border: 1px solid var(--border-card);
                    background-color: var(--white);
                    &:hover {
                        color:var(--white);
                        background-color: var(--main-color);
                        transition: transform 1s ease;
                    }
                }
            }
        }
        &-heading {
            margin-top: 30px;
            @media (max-width: 990px) {
                padding: 0px 10px;
            }
            padding: 0px 30px;
            &>a {
                color: var(--gray_card);
                font-size: 14px;;
                font-weight: 500;
            }
        }
        &-rating {
            @media (max-width: 990px) {
                padding: 0px 10px;
            }
            padding: 0px 30px;
            display: flex;
            align-items: center;
            gap:0.75rem;
            &-icon {
                
                margin-top: 8px;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                gap: 0px;
                & svg {
                    width: 1em;
                    height: 1em;
                    
                }
                & .css-kkxboy-notactive {
                    display: inline-block;
                    line-height: 1em;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    color: currentColor;
                    vertical-align: middle;
                    fill: var(--fill-icon);
                    font-size: 12px;
                    padding: 0px;
                }   
                & .css-kkxboy {
                    
                    display: inline-block;
                    line-height: 1em;
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    color: currentColor;
                    vertical-align: middle;
                    fill: var(--gold);
                    font-size: 12px;
                    padding: 0px;
                }
                
            }
            &-count {
                font-size: 12px;
                padding-top: 6px;
            }
        }
        &-oldprice {
            @media (max-width: 990px) {
                padding: 0px 10px;
            }
            padding: 0px 30px;
            margin-top: 10px;
            color: var(--danger);
            text-decoration: line-through;
            padding-left: 30px;
            font-weight: 400;
            
            font-size: 15px;
            & span {
                color: var(--gray_card);
            }
        }
        &-price {
            @media (max-width: 990px) {
                padding: 0px 10px;
            }
            padding: 0px 30px;
         
            color: #4B4A62;
            font-weight: 700;
            
            font-size: 18px;
        }
        
        &-button {
            @media (max-width: 990px) {
                padding: 0px 10px;
            }
            padding: 0px 30px;
            margin-bottom: 10px;
            transition: opacity 0.4s ease, transform 0.4s ease;
            width: 100%;
            
           
            & button {
                width: 100%;
                padding: 10px 20px;
                font-size: 14px;
            }
        }
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            z-index: 1;
            transition: 0.2s ease-in-out;
           
            & .card_product-managment {
                display: block;
            }
            
        }
        &:hover img { 
            transform: scale(1.2);
        }
    }
}