$green:#59b210;
$mgray:#4B4A62;
$lk_gray:#a8acb0;
:root { 
    --block-color:#f5f8fa;
    --border-block-color:#F3F3F3;
    --main-color:#{$green};
    --line-color:#adcd93;
    --bg-catalog:#0d510678;
    --swiper-navigation-color: #59b210;
    --white:#fff;
    --subscriber:#18b840;
    --green_link:#4F7942;
    --green_link_hober:#adcd93;
    --gree_navbar:#F6F6F6;
    --border-action:#DFE2E6;
    --heading-panel:#f2f4f5;
    --border-panel:#ebebeb;
    --black:#000;
    --hover-navber:#4F7942;
    --border-card:rgb(234, 234, 234);
    --gold:#F6E05E;
    --fill-icon:#a8acb0;
    --gray_card:#4B4A62;
    --main_green:#F6F6F6;
    --main_grain_hover:#4F7942;
    --main_gray:#{$mgray};
    --green-white:#d9dbde;
    --footer-color:#fbfbfb;
    --advantages-color:#dcdddf;
    --border-color:#F3F3F3;
    --color-white-dark: #f9f9f9;
    --background-color:#f5f8fa;
    --border-right:#E1E1E1;
    --status_success:#2F9E44;
    --gray2:#9c9ba3;
    --white-gray:#9C9BAA;
    --ccc-gray:#ccc;
    --content:#f7f8f9;
    --white-gold:#F6E05E;
    --border-form:#c0c2c6;
    --danger:rgb(220, 20, 60);
    --work:rgb(25,103,210);
    --link-color:#{$lk_gray};
    --hover-search:#E2EFDD;
}
