.main_banner {
    width: auto;
    @media (max-width: 990px) {
        height: 150px;
    }
    @media (min-width: 990px) {
        height: 350px;
    }
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid var(--border-right);
    border-radius: 10px;
    &-wrapper {
        &-slide  {
            display: flex;
            justify-content: center;
            align-items: center;
           
            & img {
                display: block;
                width: 100%;
                height: 100%;
                
               
            }
            
        } 
    }
   
  
 
    @media (max-width: 990px) {
        &_content {
            padding-top: 80px;
            padding-left: 20px;
        }
    }
}
.swiper-pagination-bullets {
    right: 40px !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--black);
}
.main-categories_slider {
    margin-top: 40px;
    &-wrapper {
        & .main-categories_slider-content {
            text-align: center;
            margin: 0;
            &--img {
                align-items: center;
                background-image: radial-gradient(95.56% 95.56% at 50% 50%, #fff 0, var(--main-color) 100%);
                border-radius: 50%;
                display: inline-block;
                display: flex;
                height: 180px;
                justify-content: center;
                margin: auto;
                overflow: hidden;
                text-align: center;
                width: 180px;
                & img {
                    text-align: center;
                    transition: transform 0.5s ease;
                }
                &:hover img { 
                    transform: scale(1.2);
                }
            }
            &--heading {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 700;
                
                &>a {
                    color: var(--main_gray);
                    &:hover {
                        color: var(--main-color);
                        transition: 0.5s ease-in-out;
                    }
                }
            }
            &--count {
                margin-top: 5px;
                font-weight: 500;
                font-size: 14px;
                color: var(--main_gray);

            }
        }
    }
}