.catalogs-index {
    background-color: var(--block-color);
    border-radius: 10px;
    
    &_nav {
        padding: 0;
        margin:0;
        
        &>.item {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: var(--main-color);
                left: 7px;
                top: 1rem;
            }
           
            &>a {
         
                color: var(--gray_card);
                font-size: 16px;
                font-weight: 600;
                position: relative;
                &:hover {
                    color: var(--main-color);
                    transition: 0.5s all ease;
                }
                
            }
           
        }
    }
}