.orders {
    & .close_input {
        content: "&times;";
        display: block;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: 0px;
        z-index: 10;
        right: -10px;
    }
    & .resusltInput {
        border-radius: 10px;
        font-size: 16px;
        overflow: auto;
        height: 200px;
        width: 90%;
        border: 1px solid var(--fill-icon);
        & ul {
            padding: 0;
            & li {
                cursor: pointer;
                &:hover {
                    background-color: var(--border-action);
                }
            }
        }
    }
    & .form-block {
        padding: 25px 25px 4px;
        border: 1px solid var(--border-action);
        border-radius: 10px;
        & .label {
            & .label_item:nth-child(1) {
                border-radius: 50px;
                background: var(--main-color);
                width: 40px;
                height: 40px;
                color: var(--white);
                font-size: 24px;
                text-align: center;
                font-weight: 600;
                margin-right: 8px;
            }
            & .label_item:nth-child(2) {
                font-weight: 700;
                font-size: 24px;
            }
        }
        & .label {
            color: var(--gray_card);
            font-size: 16px;
        }
    }
}
.order_summ {
    border-radius: 10px;
    padding: 20px 22px;
    &-heading {
        font-weight: 600;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 50px;
            border-bottom: 2px solid var(--main-color);
            left: 0;
        }
    }
    &-orders {
        margin: 0 0 27px;
        overflow-y: auto;
        padding: 0;
        & .order_summ-order {
            position: relative;
            display: flex;
            padding: 30px 0;
            align-items: center;
            & .product-image {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 56px;
                width: 56px;
                min-width: 46px;
                overflow: unset;
                align-self: flex-start;
                &>img {
                    max-height: 100%;
                    max-width: 100%;
                }
                & .qty-count {
                    width: 16px;
                    height: 16px;
                    background: var(--main-color);
                    border-radius: 50%;
                    position: absolute;
                    top: -6px;
                    right: -12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--white);
                    font-size: 10px;
                    line-height: 16px;
                }
            }
            & .product-info {
                padding-right: 15px;
                flex-grow: 1;
                min-width: 0;
                margin-left: 15px;
                & .product-name {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 600;
                    max-height: 36px;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-decoration-line: underline;
                    text-decoration-color: transparent;
                    margin: 0;
                }
            }
            & .product-price {
                display: block;
                height: 46px;
                line-height: 46px;
                align-self: flex-start;
                text-align: right;
                font-size: 20px;
                font-weight: 600;
                color: var(--main-color);
                white-space: nowrap;
            }
        }
    }
    & .label_goods {
        font-weight: 700;
        font-size: 15px;
    }
    & a {
        color: var(--main_gray);
    }
    &-total {
        & .label_goods {
            &-item {
                font-size: 20px;
            }
        }
    }
}